In [1]:
import urllib.request 
from json import *
import pandas as pd
import numpy as np
import datetime as dt
import time
import matplotlib.dates as mdates

In [ ]:
#Data from Fantasy Premier League API

u = "http://fantasy.premierleague.com/web/api/elements/4"
x1 = urllib.request.urlopen(u).read().decode()
dic = {}
dic = JSONDecoder().decode(x1)
print(dic)

playerGameweek_df = pd.DataFrame(dic['fixture_history']['all'])
playerGameweek_df.columns = ['Date','Round','Opponent','Minutes_Played','Goals_Scored','Assists','Clean_Sheets',
                             'Goals_Conceded','Own_goals','Penalties_Saved','Penalties_Missed',
                             'Yellow_Cards','Red_Cards','Saves','Bonus','PPI','BonusPS','Net_Transfers',
                             'Player_Value','Points']
playerGameweek_df.set_index('Round', inplace=True, drop=True)

playerPreviousSeason_df = pd.DataFrame(dic['season_history'])
playerPreviousSeason_df.columns = ['Year','Minutes_Played','Goals_Scored','Assists','Clean_Sheets',
                             'Goals_Conceded','Own_goals','Penalties_Saved','Penalties_Missed',
                             'Yellow_Cards','Red_Cards','Saves','Bonus','PPI','BonusPS','Player_Value','Points']
#playerPreviousSeason_df.set_index('Year', inplace=True, drop=True)

playerGenInfor_df = pd.Series()
dicIndex = ['type_name','first_name','web_name','team_name', 'dreamteam_count'
            ,'chance_of_playing_this_round','selected_by_percent', 'next_fixture']
for index in dicIndex:
    joiner = pd.Series(dic[index], name = str(index))
    playerGenInfor_df = pd.concat([playerGenInfor_df,joiner], axis = 1)

print(playerGenInfor_df.head(5))
print(playerPreviousSeason_df.head(5))
print(playerGameweek_df.head(5))

In [2]:
#Data from Premier League Website

def league_table(season, month, tm, club = 'All'):
    tmUnix = time.mktime(dt.datetime.strptime(tm, '%d/%m/%y').timetuple())
    tmUnix = str(tmUnix*1000)
    url = 'http://www.premierleague.com/en-gb/matchday/league-table.html?season='+season+'&month='+month+'&timelineView=date&toDate='+tmUnix+'&tableView=HOME_VS_AWAY'
    df = pd.read_html(url)
    df = pd.DataFrame(df[0])
    table = pd.DataFrame(df)
    col_names = ['Pos', 'CLUB', 'HP', 'HW', 'HD', 'HL', 'HGF', 'HGA', 'HGD', 'HPTS', 'AP', 'AW', 'AD', 'AL', 'AGF', 'AGA', 'AGD', 'APTS', 'TGD', 'TPTS']
    table = table.transpose()
    table.dropna(inplace = True)
    table = table.transpose()
    table.columns = col_names
    table = table.iloc[0:20]
    timestamp = [[(np.int(np.float(tmUnix)))] * len(table)]
    timeDic = pd.Series(timestamp[0], name = 'timestamp')
    table = table.join(timeDic)
    table.set_index('Pos', inplace = True, drop=False)    
    if club != 'All':
        table = table.iloc[:][table.iloc[:,1] == club]
    return table

#league_table('YYYY-YYYY','Full Month in caps', '%d/%m/%y', Optional = 'Team name')                              
#leagueTable = league_table('2015-2016','JANUARY', 'Jan-03-2016 18:59:59')
#d = dt.datetime.fromtimestamp(int(1451865599)).strftime('%b-%d-%Y %H:%M:%S')
#print(time.mktime(dt.datetime.strptime(d, '%b-%d-%Y %H:%M:%S').timetuple()))

In [3]:
df = pd.read_csv('C:/Users/ArchishmanMitra/Documents/Data Science/Python Scripts/FPL Team of the Week Prediction/E0.csv')
date = df['Date'].iloc[50]
tm = time.mktime(dt.datetime.strptime(date, '%d/%m/%y').timetuple())
resultTable = df[['Date', 'HomeTeam', 'AwayTeam', 'FTR']]
#print(len(resultTable))
ComTable = pd.DataFrame()
AllFinalDf = pd.DataFrame()
for matches in range(len(resultTable)):
    if resultTable.Date[matches][3:5] == '08':
        month = 'AUGUST'
    if resultTable.Date[matches][3:5] == '09':
        month = 'SEPTEMBER'
    if resultTable.Date[matches][3:5] == '10':
        month = 'OCTOBER'
    if resultTable.Date[matches][3:5] == '11':
        month = 'NOVEMBER'
    if resultTable.Date[matches][3:5] == '12':
        month = 'DECEMBER'
    if resultTable.Date[matches][3:5] == '01':
        month = 'OCTOBER'
    leagueTable = league_table('2015-2016',month, resultTable.Date[matches], resultTable.HomeTeam[matches])
    leagueTableJoiner  = league_table('2015-2016',month, resultTable.Date[matches], resultTable.AwayTeam[matches])
    #FinalDf = pd.concat([leagueTable,leagueTableJoiner], ignore_index = True)
    ComTable = pd.merge(leagueTable,leagueTableJoiner, on = 'timestamp')
    ComTable['Result'] = resultTable.FTR[matches]
    AllFinalDf = pd.concat([AllFinalDf,ComTable], ignore_index = True)
AllFinalDf.to_pickle('Final Results.pickle')
AllFinalDf.describe()
#2 mins for 20
#6 mins for 50

          timestamp
count  1.900000e+02
mean   1.445508e+12
std    3.967348e+09
min    1.439006e+12
25%    1.442117e+12
50%    1.445659e+12
75%    1.449292e+12
max    1.451452e+12

In [5]:
df = pd.read_pickle('Final Results.pickle')
df

,Pos_x,CLUB_x,HP_x,HW_x,HD_x,HL_x,HGF_x,HGA_x,HGD_x,HPTS_x,...,AW_y,AD_y,AL_y,AGF_y,AGA_y,AGD_y,APTS_y,TGD_y,TPTS_y,Result
0,11,Bournemouth,2,0,1,1,1,2,-1,1,...,1,0,1,2,2,0,3,-1,4,A
1,13,Chelsea,2,0,1,1,3,4,-1,1,...,0,2,0,3,3,0,2,3,8,D
2,9,Everton,2,0,1,1,2,4,-2,1,...,0,1,1,2,4,-2,1,-2,3,D
3,3,Leicester City,2,1,1,0,5,3,2,4,...,0,1,1,4,6,-2,1,-4,2,H
4,5,Manchester United,2,1,1,0,1,0,1,4,...,0,1,1,1,2,-1,1,-1,3,H
5,14,Norwich City,2,0,1,1,2,4,-2,1,...,2,0,0,5,2,3,6,3,9,A
6,6,Arsenal,2,0,1,1,0,2,-2,1,...,2,0,0,5,0,5,6,3,6,A
7,19,Newcastle United,2,0,1,1,2,3,-1,1,...,0,2,0,2,2,0,2,0,5,D
8,18,Stoke City,2,0,0,2,0,2,-2,0,...,1,1,0,1,0,1,4,-1,7,A
9,15,West Bromwich Albion,2,0,0,2,2,6,-4,0,...,2,0,0,5,0,5,6,10,12,A
10,12,Aston Villa,2,0,1,1,2,3,-1,1,...,1,0,1,2,2,0,3,1,7,A
11,10,Southampton,2,1,0,1,3,3,0,3,...,1,1,0,3,0,3,4,1,5,A
12,20,Sunderland,2,0,1,1,2,4,-2,1,...,1,0,1,3,4,-1,3,-3,4,A
13,4,Swansea City,2,2,0,0,4,1,3,6,...,0,1,1,0,2,-2,1,-3,2,H
14,16,Tottenham Hotspur,2,0,2,0,2,2,0,2,...,0,2,0,3,3,0,2,-2,2,D
15,17,Watford,2,0,2,0,0,0,0,2,...,1,1,0,1,0,1,4,-3,4,D
16,8,West Ham United,2,0,0,2,4,6,-2,0,...,1,1,0,3,2,1,4,3,8,A
17,2,Crystal Palace,2,1,0,1,3,3,0,3,...,2,0,0,3,1,2,6,0,7,A
18,1,Manchester City,2,2,0,0,5,0,5,6,...,1,0,1,3,5,-2,3,-3,4,H
19,7,Liverpool,2,1,0,1,1,3,-2,3,...,1,0,1,4,4,0,3,-1,4,H
20,2,Crystal Palace,2,1,0,1,3,3,0,3,...,1,0,1,2,2,0,3,-1,4,H
21,3,Leicester City,2,1,1,0,5,3,2,4,...,0,1,1,1,2,-1,1,-1,3,D
22,5,Manchester United,2,1,1,0,1,0,1,4,...,0,1,1,0,2,-2,1,-3,2,D
23,14,Norwich City,2,0,1,1,2,4,-2,1,...,0,2,0,3,3,0,2,-2,2,D
24,20,Sunderland,2,0,1,1,2,4,-2,1,...,0,2,0,3,3,0,2,3,8,D
25,8,West Ham United,2,0,0,2,4,6,-2,0,...,1,0,1,4,4,0,3,-1,4,A
26,9,Everton,2,0,1,1,2,4,-2,1,...,2,0,0,5,0,5,6,10,12,A
27,17,Watford,2,0,2,0,0,0,0,2,...,0,2,0,2,2,0,2,0,5,D
28,15,West Bromwich Albion,2,0,0,2,2,6,-4,0,...,1,0,1,3,5,-2,3,-3,4,A
29,6,Arsenal,2,0,1,1,0,2,-2,1,...,1,1,0,1,0,1,4,-1,7,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,14,Chelsea,10,4,2,4,15,14,1,14,...,1,1,8,10,28,-18,4,-19,12,H
161,11,Everton,10,3,3,4,22,19,3,12,...,6,3,1,21,12,9,21,12,39,A
162,6,Manchester United,9,4,4,1,10,3,7,16,...,2,2,6,11,22,-11,8,-10,20,A
163,18,Newcastle United,10,2,4,4,14,14,0,10,...,1,2,7,9,21,-12,5,-19,8,D
164,12,Southampton,10,4,2,4,17,13,4,14,...,4,4,1,15,8,7,16,18,35,A
165,10,Stoke City,9,4,1,4,10,9,1,13,...,5,2,2,11,7,4,17,7,31,A
166,13,West Bromwich Albion,10,3,2,5,12,16,-4,11,...,3,1,6,12,21,-9,10,-12,20,A
167,17,Swansea City,10,3,4,3,9,12,-3,13,...,4,4,2,14,11,3,16,5,29,D
168,9,Watford,10,4,2,4,10,8,2,14,...,4,3,3,11,11,0,15,0,30,H
169,1,Arsenal,9,6,2,1,15,6,9,20,...,3,3,3,8,8,0,12,17,36,H
170,20,Aston Villa,9,0,3,6,6,13,-7,3,...,4,4,2,14,11,3,16,5,29,D
171,16,Bournemouth,9,2,4,3,10,13,-3,10,...,5,2,2,11,7,4,17,7,31,D
172,14,Chelsea,10,4,2,4,15,14,1,14,...,4,3,2,14,12,2,15,4,29,D
173,7,Liverpool,9,4,3,2,11,11,0,15,...,6,3,1,21,12,9,21,12,39,H
174,3,Manchester City,10,8,0,2,29,12,17,24,...,1,1,8,10,28,-18,4,-19,12,H
175,18,Newcastle United,10,2,4,4,14,14,0,10,...,3,5,1,13,9,4,14,7,26,A
176,12,Southampton,10,4,2,4,17,13,4,14,...,6,1,3,18,12,6,19,15,39,H
177,10,Stoke City,9,4,1,4,10,9,1,13,...,4,2,4,12,13,-1,14,6,30,H
178,17,Swansea City,10,3,4,3,9,12,-3,13,...,3,3,3,6,8,-2,12,-6,23,H
179,4,Tottenham Hotspur,10,5,4,1,18,7,11,19,...,2,2,6,11,22,-11,8,-10,20,H
180,1,Arsenal,9,6,2,1,15,6,9,20,...,3,1,6,12,21,-9,10,-12,20,H
181,5,Crystal Palace,10,4,2,4,12,9,3,14,...,1,3,5,7,12,-5,6,-8,19,D
182,11,Everton,10,3,3,4,22,19,3,12,...,4,4,2,10,10,0,16,1,29,A
183,6,Manchester United,9,4,4,1,10,3,7,16,...,1,3,5,8,15,-7,6,-6,20,D
184,15,Norwich City,9,3,3,3,11,10,1,12,...,1,2,7,9,21,-12,5,-19,8,H
185,9,Watford,10,4,2,4,10,8,2,14,...,4,4,1,15,8,7,16,18,35,A
186,13,West Bromwich Albion,10,3,2,5,12,16,-4,11,...,2,1,6,5,20,-15,7,-15,17,H
187,8,West Ham United,9,3,4,2,14,12,2,13,...,2,4,3,9,10,-1,10,3,24,H
188,2,Leicester City,9,5,3,1,16,13,3,18,...,3,3,3,8,8,0,12,17,36,D
189,19,Sunderland,9,2,2,5,9,10,-1,8,...,4,3,3,11,11,0,15,0,30,A